<p id="notice"><%= notice %></p>

<h1>Breweries</h1>

<% @breweries.each do |brewery| %>
  <h3><%= link_to brewery.name, brewery_path(brewery) %></h3>
  <h4><%= brewery.location %></h4>
  <%= image_tag brewery.img_url %>
<% end %>
<br>
<%= link_to "Create a new brewery", new_brewery_path %>
