<h1> <%= @beer.name %></h1>

<p>Type: <%= @beer.beer_type %></p>
<p>ABV: <%= @beer.abv %>%</p>
<p>Brewery: <%= link_to @brewery.name, brewery_path(@brewery) %></p>
<%= image_tag @beer.img_url %>

<hr>

<%= link_to "Edit this beer", edit_beer_path(@beer.id) %>
<%= link_to "Delete this beer", beer_path(@beer.id), method: :delete, data: { confirm: "Are you sure?" } %>
